* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', serif;
  min-width: 100%;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
}

body,
input,
button {
  font-family: 'Poppins', serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
