@media screen and (max-width: 1316px) {
  main {
    padding: 0 40px 0 30px;
  }

  .flickity-prev-next-button.previous {
    left: -20px;
    top: 45%;
  }
  .flickity-prev-next-button.next {
    right: -20px;
    top: 45%;
  }
}

@media screen and (max-width: 1220px) {
  header.header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1070px) {
  main section.about div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main section.about div.about-title h1,
  main section.about div.about-title p,
  main section.about div p {
    text-align: center;
  }

  main section.about div div.about__image {
    order: 2;
  }

  main section.about div p.order {
    order: 1;
  }

  main section.about div p {
    font-size: min(18px, 3vw);
  }
}

@media screen and (max-width: 990px) {
  header.header section.header__wrapper h1.header-title {
    align-self: center;
    text-align: center;
  }

  .header__footer {
    flex-direction: column;
  }

  .header__footer-description p {
    text-align: center;
    margin-bottom: 40px;
  }

  header.header
    section.header__wrapper
    nav.header__navigation
    ul.header__nivagtion-icons
    li:not(:last-child) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    height: 26px;
    width: 103px;
  }
}
